body {

	max-width: 800px;
	width: 90%;
	margin: auto;


}


@media (min-width: 640px) {

	body {
		background-color: #eaf6ff;
	}
	h1 {font-size: 2.5rem;
	}

}


@media (max-width: 500px) {

	h1 {font-size: 1.5rem;
	}
}


#fixed-size-grid-items ul {

	padding-left: 0;
	list-style-type: none;



}

 #fixed-size-grid-items ul>li{
	width: 170px;
	font-size: 0.8rem;
	margin: 10px;
	display: inline-block;
	vertical-align: top;

}

	#stretchable-grid-items ul > li 
 {
 	width: 100%;
 }

#stretchable-grid-items  ul {
	padding-left: 0;
	list-style-type: none;
	margin: 10rem 1rem 10rem 1rem;

}
#stretchable-grid-items ul > li aside {
	margin: 10px;

}


@media (min-width: 480px) {
	#stretchable-grid-items ul > li {

		width: 50%;
		font-size: 0.8rem;
		display: inline-block;
		vertical-align: top;


	}

@media (min-width: 640px) {

	#stretchable-grid-items ul > li {

		width: 25%
		font-size: 0.8rem;
		display: inline-block;
		vertical-align: top;
	}
}
 


