body {

	min-width: 1200px;
	margin: auto;

}
header {
	color: red;
	font-family: imperial-urw, sans-serif;
		font-weight: 400;
	font-style: normal;
	font-size: 80pt;
	margin-left: 10%;

}

nav{
	color: black;
	font-family: liquor-store, sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 20pt;
	margin-left: 10%;
	margin-bottom: 4.5%;
}
main {
	font-family: interstate, sans-serif;
	font-weight: 500;
	font-style: normal;
	margin-right: 30%; 
	margin-left: 10%;
}