body {
	font-family: 'Archivo Narrow', sans-serif



}

h1 {
	margin: 0 0 1px 0;
	font-size: 80px;

}

h2{ margin: 0 0 10px 0;
	font-size: 30px;
	

 }

h3 {
	margin: 0 0 68px 0;
	text-align: center;
	font-size: 40px;
	background-color: lightpink

}
p {
	font-size: 18px;
	font-weight: 600;
	letter-spacing: -.4px;
	line-height: 24px; 
	background-color: lightpink/* 2 is double space and 1 is single spaced if thinking about it like a word doc if doing it with no px*/
}
header {
	background-color: rgba(255, 0, 0,.5);
	font-family: 'Archivo Narrow', sans-serif;
	text-align: center;
	color: rgb(255,69,0);
	padding: 150px 0 162px 0;
	background-image: url("../images/buddy.jpg"); 
	background-size: contain; /*or cover*/
	background-position: 2px  center;
	background-color: lightpink
	/*background-repeat: no-repeat;*/

}
section > div {

	background-color: rgba(0,255,255,.5);
	margin: auto; /*makes left and right margins equal*/
	padding: 36px 0 34px 0;
	width: 960px;
	background-color: lightpink
}

section.section_one {
	background-color: rgba(0,255,0,.5);
	background-color: lightpink;
}
.section_one img {
	float: right;
	width: 400px;
	height: 300px;
	margin-left: 30px;
	margin-bottom: 37;
	background-color: lightpink


}
section.section_two{
	background-color: lightpink;
}

section.section_three{
	background-color: lightpink;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	background-color: lightpink	


}

li { 
	width: 50%;
	height: 175px;
	background-color: rgba(255, 0, 255, 0.5);
	padding-right: 25px;
	box-sizing: border-box;
	display: inline-block;
	background-color: lightpink;
 }

h4{
	font-size: 20px;
	line-height: 1.4;
	margin: 0px 0 5px 0;
	background-color: lightpink;

 }

li img {
	width: 200px;
	float: left;
	margin-right: 10px;
	background-color: lightpink;

}
li p{ margin: 0;
	background-color: lightpink;

 }



section.section_three p{
font-size: 30px;
line-height: 1.4;
font-weight: 600;
letter-spacing: -0.4px;
color: black;
margin: auto;
text-align: center;
width: 750px;
padding: 20px 0 180px 0px;

}


h5{
font-size: 30px;
line-height: 1.4;
font-weight: 600;
letter-spacing: -0.4px;
color: black;
margin: auto;
text-align: center;
width: 750px;
padding: 20px 0 3px 0px;

}

footer {
font-size: 20px;
margin: auto;
padding: 0px 60px 40px 0;


}

