

			body {
				color: #333;
				font-family: 'Open Sans', sans-serif;
				margin: 0;
				padding: 0;
			}

			#main_content {
				margin: 40px;
			}

			h1 {
			 	font-size: 30px;
			 	margin-bottom: 40px;
			}

			.button_container {
				border: 1px solid #ddd;
				margin: 0 10px 10px 0;
				padding: 20px;
				width: 300px;
				height: 300px;
				float: left;
				overflow: hidden;
				box-sizing: border-box;
				text-align: center;
			}



			a#btn_spotify {
				display: inline-block;
				height: 50px;
				box-sizing: border-box;
				border-radius: 25px;
				margin: auto;
				margin-top: 100px;
				padding: 10px 40px 0 40px;
				background-color: #2ebd59;
				border: 2px solid #2ebd59;
				color: #fff;
				font-size: 20px;
				font-family: 'Montserrat', sans-serif;
				font-weight: bold;
				text-decoration: none;
			}

			a#btn_spotify:hover {
				background-color: #fff;
				border: 2px solid #000;
				color: #000;
			}


			a#btn_twitter {
				display: inline-block;
				height: 40px;
				box-sizing: border-box;
				border-radius: 4px;
				margin: auto;
				margin-top: 105px;
				padding: 10px 30px 0 30px;
				background-color: #56cdf1;
				color: #fff;
				font-size: 18px;
				font-family: 'Arial', sans-serif;
				font-weight: bold;
				text-decoration: none;
			}

			a#btn_twitter:hover {
				/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#2ebfec+0,28a5cb+100 */
				background: #2ebfec; /* Old browsers */
				background: -moz-linear-gradient(top,  #2ebfec 0%, #28a5cb 100%); /* FF3.6+ */
				background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#2ebfec), color-stop(100%,#28a5cb)); /* Chrome,Safari4+ */
				background: -webkit-linear-gradient(top,  #2ebfec 0%,#28a5cb 100%); /* Chrome10+,Safari5.1+ */
				background: -o-linear-gradient(top,  #2ebfec 0%,#28a5cb 100%); /* Opera 11.10+ */
				background: -ms-linear-gradient(top,  #2ebfec 0%,#28a5cb 100%); /* IE10+ */
				background: linear-gradient(to bottom,  #2ebfec 0%,#28a5cb 100%); /* W3C */
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2ebfec', endColorstr='#28a5cb',GradientType=0 ); /* IE6-9 */
			}


			a#btn_amazon {
				display: block;
				width: 100px;
				height: 100px;
				box-sizing: border-box;
				border-radius: 50px;
				margin: auto;
				margin-top: 75px;
				padding-top: 8px;
				background-color: #232f3e;
				color: #fff;
				text-align: center;
				font-size: 60px;
			}

			a#btn_amazon:hover {
				background-color: #fc9a18;
			}


			a#btn_indiegogo {
				display: inline-block;
				margin:auto;
				margin-top: 100px;
				padding: 8px 16px;
				background-color: #fff;
				color: #eb1478;
				font-family: 'Ubuntu', sans-serif;
				font-size: 30px;
				font-weight: bold;
				text-transform: uppercase;
				text-decoration: none;
				letter-spacing: -2px;
			}

			a#btn_indiegogo:hover {
				color: #fff;
				background-color: #eb1478;
			}


			a#btn_ideo {

				display: inline-block;
				margin:auto;
				margin-top: 100px;
				padding: 8px 16px;
				background-color: #fff;
				color: #000;
				font-family: 'Roboto', sans-serif;
				font-size: 30px;
				font-weight: bold;
				text-transform: uppercase;
				text-decoration: none;
				letter-spacing: -2px;

			}

			a#btn_ideo:hover {
				color: black;
				background-color: yellow;
				display: inline-block;
				height: 2px;
				box-sizing: border-box;
				font-weight: bold;
				text-decoration: none;

			}



			a#btn_fitbit {

				display: inline-block;
				margin:auto;
				background-color: #00b0b9;
				color: white;
				font-family: 'Noto Sans JP', sans-serif;
				font-size: 30px;
				font-weight: lighter;
				text-transform: lowercase;
				text-decoration: none;
				letter-spacing: -2px;
				box-sizing: border-box;
				border-radius: 25px;
				margin: auto;
				margin-top: 100px;
				padding: 15px 10px 15px 10px;

			}

			a#btn_fitbit:hover {
				display: inline-block;
				margin:auto;
				background-color: white;
				color: #00b0b9;
				font-family: 'Noto Sans JP', sans-serif;
				font-size: 30px;
				font-weight: lighter;
				text-transform: lowercase;
				text-decoration: none;
				letter-spacing: -2px;
				box-sizing: border-box;
				border-radius: 25px;
				margin: auto;
				margin-top: 100px;
				padding: 15px 10px 15px 10px;
				border: 1.5px solid #00b0b9;
			}



			a#btn_army {

				display: inline-block;
				height: 40px;
				box-sizing: border-box;
				border-radius: 4px;
				margin: auto;
				margin-top: 105px;
				padding: 8px 30px 10px 30px;
				background-color: black;
				color: white;
				font-size: 18px;
				font-family: 'Arial', sans-serif;
				font-weight: bold;
				text-decoration: none;
				border: 3px solid #fec325;

			}

			a#btn_army:hover{

			-webkit-box-shadow: 23px 23px 5px 0px rgba(50, 50, 50, 0.75);
			-moz-box-shadow:    23px 23px 5px 0px rgba(50, 50, 50, 0.75);
			box-shadow:         23px 23px 5px 0px rgba(50, 50, 50, 0.75);
				}


			
			a#btn_insta{
				display: block;
				width: 100px;
				height: 100px;
				margin: auto;
				margin-top: 75px;
				padding-top: 8px;
				color: red;
				text-align: center;
				font-size: 60px;


			}

			a#btn_insta:hover {
				color: #f5ed20;
			}

			
			a#btn_apple {
				display: block;
				width: 100px;
				height: 100px;
				box-sizing: border-box;
				border-radius: 50px;
				margin: auto;
				margin-top: 75px;
				padding-top: 8px;
				color: black;
				text-align: center;
				font-size: 60px;

				}


				a#btn_apple:hover {
				display: block;
				width: 100px;
				height: 100px;
				box-sizing: border-box;
				border-radius: 50px;
				margin: auto;
				margin-top: 75px;
				padding-top: 8px;
				color: #b6b8ba;
				text-align: center;
				font-size: 60px;

				}

			a#btn_tesla {
				display: inline-block;
				margin:auto;
				margin-top: 100px;
				padding: 8px 16px;
				background-color: #fff;
				color: gray;
				font-size: 30px;
				font-weight: bold;
				text-transform: uppercase;
				text-decoration: none;
				letter-spacing: -2px;
				
			}

			a#btn_tesla .name {
				display: none;


			}

			a#btn_tesla:hover .name {
				display: block;
				

			}

			a#btn_tesla:hover .fa-bars {
				display: none;
			}
				


			a#btn_tesla:hover {
				display: block;
				width: 100px;
				height: 100px;
				margin-top: 75px;
				padding-top: 8px;
				color: #b6b8ba;
				text-align: center;
				font-size: 40px;
						}


			a#btn_NIKE {

				display: inline-block;
				margin:auto;
				margin-top: 100px;
				padding: 0px 2px;
				color: #000;
				font-family: 'Fira Sans', sans-serif;
				font-size: 30px;
				font-weight: bold;
				text-transform: lowercase;
				text-decoration: none;
				letter-spacing: -2px;
					}


			a#btn_NIKE:hover {


			text-shadow: 33px 15px 18px rgba(255, 0, 0, 0.76);
			text-transform: uppercase;
			}


			a#btn_fb {
				display: block;
				width: 100px;
				height: 100px;
				margin: auto;
				margin-top: 75px;
				padding-top: 8px;
				color: #4267b2;
				text-align: center;
				font-size: 60px; }

				

			a#btn_fb:hover {


				text-shadow: 0px 0px 18px rgba(0, 0, 0, 0.76);
			}


			a#btn_ON {
				display: inline-block;
				height: 50px;
				box-sizing: border-box;
				border-radius: 25px;
				margin: auto;
				margin-top: 100px;
				padding: 15px 40px 20px 40px;
				background-color: #2f364a;
				color: #fff;
				font-size: 20px;
				font-family: 'Fira Sans', sans-serif;
				font-weight: bold;
				text-decoration: none;
			}

			a#btn_ON:hover {
				display: inline-block;
				height: 50px;
				box-sizing: border-box;
				border-radius: 25px;
				margin: auto;
				margin-top: 100px;
				padding: 15px 40px 20px 40px;
				background-color: white;
				border-color: #2f364a;
				color: #2f364a;
				font-size: 20px;
				font-family: 'Fira Sans', sans-serif;
				font-weight: bold;
				text-decoration: none;
			}


			a#btn_TNY {

				display: inline-block;
				margin:auto;
				margin-top: 100px;
				padding: 0px 2px;
				color: #000;
				font-family: 'Libre Caslon Display', serif;
				font-size: 30px;
				font-weight: lighter;
				text-transform: uppercase;
				text-decoration: none;
				letter-spacing: -2px;
					}

			a#btn_TNY:hover {

				text-shadow: 32px 15px 5px rgba(0, 0, 0, 0.76);
			}




			a#btn_MK {

				display: inline-block;
				margin:auto;
				margin-top: 100px;
				padding: 0px 2px;
				color: #000;
				font-family: 'Fira Sans', sans-serif;
				font-size: 30px;
				font-weight: lighter;
				text-transform: uppercase;
				text-decoration: none;
				letter-spacing: -2px;
					}


			a#btn_MK:hover {

				display: inline-block;
				margin:auto;
				margin-top: 100px;
				padding: 0px 2px;
				color: #000;
				font-family: 'Fira Sans', sans-serif;
				font-size: 30px;
				font-weight: bold;
				text-transform: uppercase;
				text-decoration: underline;
				letter-spacing: -2px;
					}

			a#btn_sar {

				display: inline-block;
				margin:auto;
				background-color: #0705c4;
				color: #00d2ce;
				font-family: 'Noto Sans JP', sans-serif;
				font-size: 30px;
				font-weight: bold;
				text-transform: uppercase;
				text-decoration: none;
				letter-spacing: 5px;
				box-sizing: border-box;
				border-radius: 5px;
				margin: auto;
				margin-top: 100px;
				padding: 15px 10px 15px 10px;

			}

				a#btn_sar:hover {

				display: inline-block;
				margin:auto;
				background-color: #00d2ce;
				color: #0705c4;
				font-family: 'Noto Sans JP', sans-serif;
				font-size: 30px;
				font-weight: bold;
				text-transform: uppercase;
				text-decoration: none;
				letter-spacing: 5px;
				box-sizing: border-box;
				border-radius: 5px;
				margin: auto;
				margin-top: 100px;
				padding: 15px 10px 15px 10px;

			}

			a#btn_EK {

				display: inline-block;
				margin:auto;
				margin-top: 100px;
				padding: 5px 2px;
				color: white;
				font-family: 'Fira Sans', sans-serif;
				font-size: 30px;
				font-weight: bold;
				text-transform: uppercase;
				text-decoration: none;
				letter-spacing: -2px;
				/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#feccb1+0,f17432+50,ea5507+51,fb955e+100;Red+Gloss+%232 */
					background: #feccb1; /* Old browsers */
				background: -moz-linear-gradient(top,  #feccb1 0%, #f17432 50%, #ea5507 51%, #fb955e 100%); /* FF3.6-15 */
				background: -webkit-linear-gradient(top,  #feccb1 0%,#f17432 50%,#ea5507 51%,#fb955e 100%); /* Chrome10-25,Safari5.1-6 */
				background: linear-gradient(to bottom,  #feccb1 0%,#f17432 50%,#ea5507 51%,#fb955e 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#feccb1', endColorstr='#fb955e',GradientType=0 ); /* IE6-9 */

					}


				a#btn_EK:hover {

				display: inline-block;
				margin:auto;
				margin-top: 100px;
				padding: 5px 2px;
				color: white;
				font-family: 'Fira Sans', sans-serif;
				font-size: 30px;
				font-weight: bold;
				text-transform: uppercase;
				text-decoration: none;
				letter-spacing: -2px;
					/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ffb76b+0,ffa73d+50,ff7c00+51,ff7f04+100;Orange+Gloss */
				background: #ffb76b; /* Old browsers */
				background: -moz-linear-gradient(top,  #ffb76b 0%, #ffa73d 50%, #ff7c00 51%, #ff7f04 100%); /* FF3.6-15 */
				background: -webkit-linear-gradient(top,  #ffb76b 0%,#ffa73d 50%,#ff7c00 51%,#ff7f04 100%); /* Chrome10-25,Safari5.1-6 */
				background: linear-gradient(to bottom,  #ffb76b 0%,#ffa73d 50%,#ff7c00 51%,#ff7f04 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffb76b', endColorstr='#ff7f04',GradientType=0 ); /* IE6-9 */


			}


			a#btn_electra {

				display: inline-block;
				margin:auto;
				margin-top: 100px;
				padding: 5px 2px;
				color: white;
				font-family: 'Pacifico', cursive;
				font-size: 40px;
				text-decoration: none;
				letter-spacing: -2px;
				background-color: #04a8cb;
			
			}

				a#btn_electra:hover {

				display: inline-block;
				margin:auto;
				margin-top: 100px;
				padding: 5px 2px;
				color: white;
				font-family: 'Pacifico', cursive;
				font-size: 40px;
				text-decoration: none;
				letter-spacing: -2px;
				background-color: #02758e;
					-webkit-box-shadow: 11px 11px 23px 0px rgba(0, 0, 0, 0.59);
				-moz-box-shadow:    11px 11px 23px 0px rgba(0, 0, 0, 0.59);
				 box-shadow:         11px 11px 23px 0px rgba(0, 0, 0, 0.59);
			
			}


			a#btn_HSN {
				display: block;
				width: 100px;
				height: 100px;
				box-sizing: border-box;
				border-radius: 100px;
				margin: auto;
				margin-top: 100px;
				padding-top: 30px;
				background-color: #0077c8;
				color: #fff;
				text-decoration: none;
				text-align: center;
				font-size: 30px;

			}


			a#btn_HSN:hover
			{

			transform: rotate(306deg);
		}

		</style>